.widget #sonar {
    background-color: #2980b9;
	color: #fff;
}

#sonar {
    padding: 2px 5px;
}


#sonar .fa {
    display: inline-block !important;
    width: auto !important;
    position: relative;
    font-size: 100%;
    top: 0;
    opacity: 1; 
}

#sonar table {
    width: auto !important;
}

#sonar table td {
    text-align: left;
}

#sonar .icon-major {
    color: #d4333f
}
#sonar .icon-info {
    color: #4b9fd5;
}
#sonar .icon-minor {
    color: #87bb43;
}
