<div id='sonar'>
  <header>
    <h1>{ title }</h1>
  </header>
  <main>
    <table class="sonar_table">
      <tr>
        <td class="icon">
          <i class="fa fa-info-circle icon icon-info"></i>
        </td>
        <td class="label">Info:</td>
        <td class="value">{ data.INFO }</td>
      </tr>
      <tr>
        <td class="icon">
          <i class="fa fa-arrow-circle-down icon icon-minor"></i>
        </td>
        <td class="label">Minor:</td>
        <td class="value">{ data.MINOR }</td>
      </tr>
      <tr>
        <td class="icon">
          <i class="fa fa-chevron-circle-up icon icon-major"></i>
        </td>
        <td class="label">Major:</td>
        <td class="value">{ data.MAJOR }</td>
      </tr>
      <tr>
          <td class="icon">
            <i class="fa fa-arrow-circle-up icon icon-major"></i>
          </td>
          <td class="label">Critical:</td>
          <td class="value">{ data.CRITICAL }</td>
        </tr>
      <tr>
        <td class="icon">
          <i class="fa fa-exclamation-circle icon icon-major"></i>
        </td>
        <td class="label">Blocker:</td>
        <td class="value">{ data.BLOCKER }</td>
      </tr>
    </table>
  </main>
    <footer>
    <a class="more-info" target="_blank" rv-href="moreInfo">{ moreInfo }</a>
    <p class="updated-at"><span class="label">Mise à jour le : </span> { updatedAt }</p>
  </footer>
</div>