/**** CSS GLOBAL ****/
footer {
	text-align: center;
    position: absolute;
	bottom: -9px;
	left: 0;
	right: 0;
}

footer .updated-at,footer .more-info {
    font-size: 0.5em;
}

footer .updated-at .label{
	font-weight: bold;
}

header {
	text-align: center;
    position: absolute;
    top: 1px;
    left: 0;
	right: 0;
}

header h1{
	font-weight: bold;
}