<div id='widget-tnr'>
    <header>
        <h1>{ title }</h1>
    </header>
    <main>
        <table>
            <caption><b>{build.title}</b></caption>
            <tr rv-each-item="data">
                <th rv-title="item.name">
                    <a target="_blank" rv-href="item.jiraUrl">{item.feature}</a>
                </th>
                <td>
                    <span class="progress-number">{item.nbOK}/{item.max}</span>
                    <progress rv-max="item.max" rv-value="item.nbOK"></progress>
                </td>
            </tr>
        </table>
    </main>
    <footer>
        <a class="more-info" target="_blank" rv-href="moreInfo">{ moreInfo }</a>
        <p class="updated-at"><span class="label">Mise à jour le : </span> { updatedAt }</p>
    </footer>
</div>