.widget #widget-tnr {
    background-color: #2ecc71;
	color: #fff;
}

#widget-tnr{
    padding: 2px 5px;
}

#widget-tnr caption{
    margin-bottom: 5px
}

#widget-tnr th:hover, #widget-tnr footer a:hover{
    color: #34495e
}

#widget-tnr th{
    text-align: left;
    font-size: 80%
}

#widget-tnr td{
    text-align: right;
}

#widget-tnr .progress-number{
    font-size: 0.7em;
    position: relative;
    left: 45%;
    bottom:1px;
}

#widget-tnr progress{
    -webkit-appearance: none;
    -webkit-border-before-color: black;
    width: 8em
} 
#widget-tnr progress{
    border: 1px solid black;
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7); 
} 

#widget-tnr ::-webkit-progress-bar{
    background-color: #e74c3c;
}
#widget-tnr ::-webkit-progress-value{
    background-color: #27ae60
}